{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}

<h2>Kappaleet kategoriassa {{ category.name }}</h2>
{% if category.visible is defined %}
    {% if category.visible == False %}
  <p><em>Kategoria on piilotettu käyttäjiltä.</em></p>
    {% endif %}
{% endif %}
<p>Nuotteja kategoriassa: {{ category.count}} kpl.</p>
{% if tunes %}
  <ul>
    {% for tune in tunes %}
      <li>
        <a href="/tune/{{ tune.id }}">{{ tune.name }}</a> - lisääjä <strong>{{ tune.username }}</strong> ({{ tune.created.strftime("%d.%m.%Y") }})
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Kategoriaan ei ole vielä liitetty kappaleita.</p>
{% endif %}
  
{% endblock %}