{% extends "layout.html" %}
{% block title %}lisää kategoria{% endblock %}
{% block content %}

<h2>Lisää kategoria</h2>

{% if session.user_role == 2 %}
  <h3>Palvelun nykyiset kategoriat:</h3>
  {% for category in categories %}
      {% if category.visible %}
        <a href="/category/{{ category.id }}">{{ category.name }}</a>
      {% else %}
        <a href="/category/{{ category.id }}" class="hidden">{{ category.name }}</a>
      {% endif %}
  {% endfor %}
  <p>(Huomaathan, että palvelussa ei voi olla useita samannimisiä kategorioita.)</p>

  <form action="/add_category" method="POST">
    <p>
      <label for="category_name">Uuden kategorian nimi:</label><br>
      <input type="text" id="category_name" name="name" minlength="1" maxlength="50">
    <p>
      <input type="submit" value="Lisää kategoria">  
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>
  <hr>  
  <h2>Valitse näytettävät kategoriat:</h2>
  <form action="/set_category_visibility" method="POST">
    {% for category in categories %}
      <input type="checkbox" id="{{ category.name}}" name="category" value="{{ category.id }}" 
        {% if category.visible %}
          checked
          {% else %}
            style="color:gray;"
        {% endif %}
      > 
      <label for="{{ category.name }}"> {{ category.name }} </label>
    {% endfor %}
    <p>
      <input type="submit" value="Tallenna valinnat">  
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>
  <hr>
  <h2>Poista kategoria</h2>
  <p>Poista kategoria kokonaan palvelusta. Kategoriaan liitetyt kappaleet säilyvät palvelussa.</p>
  <form action="/delete_category" method="POST">
    <ul style="list-style-type: none; padding-inline-start: 0;">
    {% for category in categories %}
      <li><input type="radio" name="category_id" value="{{ category.id }}"> {{ category.name }} ({{ category.count }})</li>
    {% endfor %}
    </ul>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Poista kategoria">  
  </form>

{% else %}
  <p>Vain palvelun ylläpitäjät voivat hallinnoida kategorioita.</p>
{% endif %}

{% endblock %}