<html>
  <head>
    <title>FolkShare - etusivu</title>
    <script src="{{url_for('static', filename='abcjs-basic-min.js')}}"></script>
    <script type="text/javascript">
      function loadSong() {
        console.log('{{ song[2] }}')
        ABCJS.renderAbc("notation", '{{ song[2] }}');
      }
    </script>
</head>

  <body onload="loadSong()">
    <h1>Tämä on FolkShare!</h1>
    <p>Selaa, tulosta ja jaa tekijänoikeusvapaita kansanmusiikkinuotteja ABC-notaation avulla.</p>
    <div id="notation"></div>
  </body>
</html>
