<!DOCTYPE html>
<title>FolkShare - {% block title %}{% endblock %}</title>
<h1><a href="/">FolkShare</a></h1>
<p>Selaa, tulosta ja jaa tekijänoikeusvapaita kansanmusiikkinuotteja ABC-notaation avulla!
{% if session.user_id %}
  <p>Tervetuloa, käyttäjä <strong>{{ session.user_name }}!</strong> | <a href="/logout">Kirjaudu ulos</a>
{% else %}
  <p><a href="/login">Kirjaudu sisään</a> | <a href="/register">Luo käyttäjätunnus</a>
{% endif %}
<hr>

{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div style="border:1px solid green; border-radius: 3px; padding: 5px;"><strong>{{ message }}</strong></div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% block content %}
{% endblock %}

{% block footer%}
  <hr>
  <p><a href="/">Takaisin etusivulle</a></p> 
{% endblock %}
