<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>

<title>FolkShare - {% block title %}{% endblock %}</title>
<div class="header">
  <h1><a href="/">Folkshare</a></h1>
  <div class="subheading">Selaa, tulosta ja jaa tekijänoikeusvapaita kansanmusiikkinuotteja ABC-notaation avulla.</div>
  {% if session.user_id %}
    <p>Tervetuloa, käyttäjä <strong>{{ session.user_name }}!</strong>
      <a href="/logout"><button type="button" class="btn-link-purple">Kirjaudu ulos</button></a>      
  {% else %}
    <p>
      <a href="/login"><button type="button" class="btn-link-purple">Kirjaudu sisään</button></a> 
      <a href="/register"><button type="button" class="btn-link-blue">Luo käyttäjätunnus</button></a>
  {% endif %}
</div>

<nav>
  <ul>
    <li><a href="/">Etusivu</a></li>
    {% if session.user_id %}
      <li><a href="/add_tune">Lisää uusi</a></li>
    {% endif %}
    <li><a href="/tune">Kappaleet</a></li>
    <li><a href="/category">Kategoriat</a></li>
    <li><a href="/search">Haku</a></li>
    {% if session.user_role == 2 %}
      <li class="admin"><a href="/add_category">Ylläpitäjälle</a></li>
    {% endif %}
  </ul>
</nav>

<div class="content">  
  {% with messages = get_flashed_messages() %}
    {% if messages %}  
    <div class="messages">  
      <ul>
      {% for message in messages %}
        <li>{{ message }}</strong></li>
      {% endfor %}
      </ul>
    </div>  
    {% endif %}
  {% endwith %}

  {% block content %}
  {% endblock %}
</div>

<div class="footer">
  {% block footer%}
    <ul>
      <li><a href="/">Etusivu</a></li> 
      {% if session.user_id %}
        <li><a href="/add_tune">Lisää uusi</a></li>
      {% endif %}
      <li><a href="/tune">Kappaleet</a></li> 
      <li><a href="/category">Kategoriat</a></li> 
      <li><a href="/search">Haku</a></li> 
    </ul>
  {% endblock %}
</div>
