{% extends "layout.html" %}
{% block title %}{{ tune.name }}{% endblock %}
{% block content %}
<script>
  var script = document.createElement('script');
  script.onload = function(event) {
    let sheetmusic = "{{ notation | safe }}"
    ABCJS.renderAbc("notation", sheetmusic, { responsive: "resize" });  
  }
  script.defer = true;
  script.src = "{{url_for('static', filename='abcjs-basic-min.js')}}";
  document.body.append(script);
</script>

<h2>{{ tune.name }}</h2>

<p>Lisääjä <strong>{{ tune.username }}</strong> 
  ({{ tune.created.strftime("%d.%m.%Y") }}{% if tune.updated %}, muokattu {{ tune.updated.strftime("%d.%m.%Y") }}{% endif %})</p>

<div id="notation-container">
  <div id="notation">
    <p>Nuotti latautuu</p>
  </div>
</div>

{% if categories %}
  <div class="tune-category-list">
    <p><strong>Kappale on liitetty kategorioihin:</strong></p>
    <ul>
    {% for category in categories %}
      <li><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
  </div> 
{% endif %}

{% if session.user_id == tune.creator_id or session.user_role == 2 %}
  <div class="tune-admin">
    <form action="/update_tune/{{ tune.id }}" method="GET">
      <button class="btn-modify">Muokkaa kappaletta</button>
    </form>
    <form action="/delete_tune/{{ tune.id }}" method="post" class="align-right">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <button class="btn-delete">Poista kappale</button>
    </form>
  </div>
{% endif %}

<div class="comments">
  <h3>Kommentit:</h3>
  {% if comments %}
    <ul>
      {% for comment in comments%}
        <li>
          <div class="comment-poster">
            <p>
              <strong>{{ comment.username }}</strong>, {{ comment.created.strftime("%d.%m.%Y") }}:
          </div>
          {% if session.user_role == 2 %}
          <div class="comment-admin">
            <form action="/delete_comment/{{ comment.id }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              <button class="btn-delete">Poista kommentti</button>
            </form>
          </div>    
          {% endif %}
          <div class="comment-content"><p>{{ comment.comment }}</p></div> 
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>-</p>  
  {% endif %}

  {% if session.user_id%}
    <form action="/add_comment" method="POST">  
      <p>
        <label for="comment"><strong>Lisää kommentti:</strong></label><br>
        <textarea id ="comment" name="comment" rows="6" cols="40" maxlength="1000"></textarea>
      <p>
        <input type="hidden" name="tune_id" value="{{ tune.id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button>Lähetä kommentti</button>
    </form>
  {% endif %}
</div>

{% endblock %}
