{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
<script>
  var script = document.createElement('script');
  script.onload = function(event) {
    ABCJS.renderAbc("notation", '{{ notation }}');  
  }
  script.defer = true;
  script.src = "{{url_for('static', filename='abcjs-basic-min.js')}}";
  document.body.append(script);
</script>

<div id="notation">
  <p>Nuotti latautuu</p>
</div>

{% if categories %}
  <p><strong>Kappale on liitetty kategorioihin:</strong></p>
  {% for category in categories %}
    {{ category.name }} |
  {% endfor %}
{% endif %}
{% endblock %}
