{% extends "layout.html" %}
{% block title %}{{ tune.name }}{% endblock %}
{% block content %}
<script>
  var script = document.createElement('script');
  script.onload = function(event) {
    let sheetmusic = "{{ notation | safe }}"
    ABCJS.renderAbc("notation", sheetmusic);  
  }
  script.defer = true;
  script.src = "{{url_for('static', filename='abcjs-basic-min.js')}}";
  document.body.append(script);
</script>

<h2>{{ tune.name }}</h2>

{% if session.user_id == tune.creator_id or session.user_role == 2 %}
  <form action="/delete_tune/{{ tune.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <button>Poista kappale</button>
  </form>
{% endif %}

<p>Lisääjä <strong>{{ tune.username }}</strong> 
  ({{ tune.created.strftime("%d.%m.%Y") }}{% if tune.updated %}, muokattu {{ tune.updated.strftime("%d.%m.%Y") }}{% endif %})</p>

<div id="notation">
  <p>Nuotti latautuu</p>
</div>

{% if categories %}
  <div class="tune-category-list">
    <p><strong>Kappale on liitetty kategorioihin:</strong></p>
    <ul>
    {% for category in categories %}
      <li><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
  </div> 
{% endif %}

{% if session.user_id == tune.creator_id or session.user_role == 2 %}
  <form action="/update_tune/{{ tune.id }}" method="GET" style="margin-top: 1em">
    <button>Muokkaa kappaletta</button>
  </form>
{% endif %}

<h3>Kommentit:</h3>
{% if comments %}
  <ul>
    {% for comment in comments%}
      <li>
        {{ comment.comment }} (<strong>{{ comment.username }}</strong>, {{ comment.created.strftime("%d.%m.%Y") }})
        {% if session.user_role == 2 %}
          <form action="/delete_comment/{{ comment.id }}" method="POST" style="display: inline">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button>Poista kommentti</button>
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>-</p>  
{% endif %}

{% if session.user_id%}
  <form action="/add_comment" method="POST">  
    <label for="comment"><strong>Lisää kommentti:</strong></label><br>
    <textarea id ="comment" name="comment" rows="6" cols="40" maxlength="1000"></textarea>
    <input type="hidden" name="tune_id" value="{{ tune.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <br>
    <button>Lähetä kommentti</button>
  </form>
{% endif %}

{% endblock %}
